{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": ["airbnb"],
  "settings": {
    "import/extensions": [".js", ".jsx", ".ts", ".tsx"],
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"],
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
      },
    },
  },
  "rules": {
    "arrow-body-style": "off",
    "comma-dangle": "off",
    "arrow-parens": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "no-useless-constructor": "off",
    "@typescript-eslint/no-useless-constructor": "error",
    "quotes": ["error", "double"],
    "react/jsx-filename-extension": [
      "error",
      { "extensions": [".ts", ".tsx"] },
    ],
    "react/jsx-props-no-spreading": "off",
    "react/static-property-placement": "off",
    "react/state-in-constructor": "off",
    "import/extensions": "off",
    "react/function-component-definition": "off",
    "react/require-default-props": "off",
    "no-undef": "off",
    "no-alert": "warn",
    "no-console": "warn",
    "no-redeclare": "off",
    "@typescript-eslint/no-redeclare": "error",
    "class-methods-use-this": "off",
    "react/sort-comp": [
      "error",
      {
        "order": [
          "static-variables",
          "static-methods",
          "everything-else",
          "lifecycle",
          "render",
        ],
      },
    ],
  },
  "globals": {
    "fetch": false,
    "alert": false,
    "document": false,
    "window": false,
    "HTMLElement": false,
    "HTMLDivElement": false,
    "HTMLButtonElement": false,
    "HTMLSpanElement": false,
    "HTMLAnchorElement": false,
    "HTMLHeadingElement": false,
    "React": false,
  },
}
