@import url('https://fonts.googleapis.com/css?family=Cabin');

.Header-nav {
  background-color: transparent;
  border: transparent;
}

nav.navbar {
  background: #ffffff;
  -webkit-box-shadow: 0 2px 5px grey;
  -moz-box-shadow: 0 2px 5px grey;
  box-shadow: 0 2px 5px grey;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#2D2C2D' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-toggler {
  border-color: #2D2C2D !important;
}

.nav-link {
  color: #2D2C2D;
  transition-duration: 0.25s;
  font-family: 'Cabin', sans-serif;
}

.nav-link:hover {
  color: #2B9EB3;
}

.nav-link.disabled {
  cursor: no-drop;
}