@import url("https://fonts.googleapis.com/css?family=Cabin");

html {
  position: relative;
  min-height: 100%;
}

@media (max-width: 332px) {
  body {
    /* Margin bottom by footer height */
    margin-bottom: 275px !important;
  }

  .footer {
    height: 275px;
  }
}

@media (min-width: 333px) and (max-width: 759px) {
  body {
    /* Margin bottom by footer height */
    margin-bottom: 250px !important;
  }

  .footer {
    height: 250px;
  }
}

@media (min-width: 760px) {
  body {
    /* Margin bottom by footer height */
    margin-bottom: 200px !important;
  }

  .footer {
    height: 200px;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  color: #ffffff;
  font-family: "Cabin", sans-serif;
}

div.Footer-content {
  padding-top: 20px;
}

h2.Footer-header {
  padding-bottom: 10px;
}

ul.Footer-nav {
  padding: 0;
}

ul.Footer-nav li {
  display: inline;
  list-style-type: none;
  padding: 0 10px;
}

ul.Footer-nav a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.25s;
}

ul.Footer-nav a:hover {
  color: #2b9eb3;
}

ul.Footer-nav a.disabled {
  color: #cdcdc9;
  cursor: no-drop;
}
