@import url("https://fonts.googleapis.com/css?family=Cabin");

button.btn.Primary-cta {
  margin-top: 20px;
  font-family: "Cabin", sans-serif;
  font-size: 1.5rem;
  background-color: #2b9eb3;
  border: #2b9eb3;
}

button.btn.Primary-cta:hover {
  background-color: #2990a5;
  border: #2990a5;
}